streamlit
numpy
pandas
matplotlib
seaborn
scikit-learn
WordCloud
train_test_split
TfidfVectorizer
MultinomialNB
LogisticRegression
accuracy_score
classification_report
confusion_matrix
SMOTE
Pipeline
OpenCageGeocode